Repository GODrums/BetterFloat: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: npx tsc --noEmit {staged_files}

lint:
  run: pnpm biome lint --write {staged_files} && git update-index --again

format:
  run: pnpm biome format --write {staged_files} && git update-index --again

Remove legacy skinbid code
  src/contents/skinbid_script.ts
Due: lint, format

Bluegem integration for DMarket & Bitskins
  src/contents/bitskins_script.ts
  src/contents/csfloat_script.ts
  src/contents/dmarket_script.ts
  src/lib/@typings/BitskinsTypes.d.ts
  src/lib/handlers/cache/dmarket_cache.ts
  src/lib/util/helperfunctions.ts
  src/lib/util/storage.ts
  src/lib/util/uigeneration.ts
  src/popup/tabs/Bitskins.tsx
  src/popup/tabs/Dmarket.tsx
Due: lint, format

Add blue% for similar items
  src/contents/bitskins_script.ts
Due: lint, format

Add Bitskins list items
  package.json
  src/contents/bitskins_script.ts
  src/contents/csfloat_script.ts
  src/css/bitskins_styles.css
  src/lib/util/helperfunctions.ts
  src/lib/util/uigeneration.ts
Due: lint, format

fix: skinbid homepage detection
  src/contents/skinbid_script.ts
Due: lint, format

fix: bluegem double detection
  src/contents/bitskins_script.ts
Due: lint, format

fix: bluegem z position
  src/css/skinport_styles.css
Due: format

Add skinbid similar items
  src/contents/skinbid_script.ts
  src/lib/handlers/eventhandler.ts
Due: lint, format

Add .cursorrules
  .cursorrules
Due: none

Improve CSFloat detection
  package.json
  src/background/messages/refreshPrices.ts
  src/contents/csfloat_script.ts
  src/lib/util/uigeneration.ts
Due: lint, format

fix: 027 skin
  src/contents/csfloat_script.ts
Due: lint, format

Add option for website notifications
  src/contents/csfloat_script.ts
  src/contents/dmarket_script.ts
  src/contents/skinport_script.ts
  src/lib/@typings/FloatTypes.d.ts
  src/lib/@typings/SkinportTypes.d.ts
  src/lib/inline/CSFAutorefresh.tsx
  src/lib/inline/SpNotifications.tsx
Due: lint, format

Add new Pricempire links
  assets/icons/icon-pricempire-app.png
  src/contents/csfloat_script.ts
  src/contents/skinport_script.ts
  src/lib/helpers/csfloat_helpers.ts
  src/lib/util/globals.ts
  src/lib/util/helperfunctions.ts
Due: lint, format

Remove Pro from CSMoney
  src/contents/csfloat_script.ts
  src/contents/csmoney_script.ts
  src/lib/util/helperfunctions.ts
  src/popup/index.tsx
  src/popup/tabs/Csmoney.tsx
Due: lint, format

fix: csmoney trade page
  src/contents/csmoney_script.ts
Due: lint, format

Use new Pricempire linking strategy
  package.json
  src/contents/csfloat_script.ts
  src/contents/skinport_script.ts
  src/lib/util/helperfunctions.ts
Due: lint, format

Extract CSMoney queries
  package.json
  pnpm-lock.yaml
  src/contents/csmoney_script.ts
Due: lint, format

fix: item price selection
  src/contents/dmarket_script.ts
Due: lint, format

fix: paint seed 0
  src/contents/csfloat_script.ts
Due: lint, format

Update bluegem types
  src/lib/@typings/ExtensionTypes.d.ts
Due: lint, format

Add quicklinks to DMarket and LisSkins
  src/contents/dmarket_script.ts
  src/contents/lisskins_script.ts
Due: lint, format

First Tradeit version
  assets/logos/tradeit.png
  assets/logos/tradeit_full.svg
  src/contents/injectionhandler.ts
  src/contents/tradeit_script.ts
  src/css/tradeit_styles.css
  src/lib/handlers/cache/tradeit_cache.ts
  src/lib/handlers/eventhandler.ts
  src/lib/util/globals.ts
  src/lib/util/storage.ts
  src/popup/index.tsx
  src/popup/tabs/Tradeit.tsx
Due: lint, format

chore: remove polyfill
  package.json
  pnpm-lock.yaml
Due: none

Move MC fetch to background
  src/background/messages/getMarketComparison.ts
  src/lib/handlers/networkhandler.ts
  src/lib/handlers/urlhandler.tsx
  src/lib/inline/CSFMarketComparison.tsx
  src/lib/inline/SpMarketComparison.tsx
  src/lib/util/globals.ts
  src/lib/util/messaging.ts
Due: lint, format

fix: storage variables
  src/contents/tradeit_script.ts
  src/lib/util/storage.ts
Due: lint, format

chore: remove logging
  src/contents/tradeit_script.ts
Due: lint, format

fix: currency conversion on Skinbid
  package.json
  src/background/messages/getMarketComparison.ts
  src/contents/skinbid_script.ts
Due: lint, format

Remove blue% gem container
  package.json
  src/contents/csfloat_script.ts
  src/popup/tabs/Csfloat.tsx
Due: lint, format

fix: csmoney new site
  src/contents/csfloat_script.ts
  src/contents/csmoney_script.ts
  src/lib/handlers/cache/csmoney_cache.ts
  src/lib/handlers/eventhandler.ts
Due: lint, format

Rewrite history on Skinbid
  package.json
  src/contents/skinbid_script.ts
Due: lint, format

fix: csmoney currency rate
  src/contents/csmoney_script.ts
  src/lib/util/helperfunctions.ts
Due: lint, format

submit action workflow
  .github/workflows/submit.yml
  package.json
  src/popup/tabs/Skinbaron.tsx
Due: lint, format

fix: csmoney similar button
  src/contents/csmoney_script.ts
Due: lint, format

fix: similar button edge case
  src/contents/csmoney_script.ts
Due: lint, format

update readme
  README.md
Due: none

update gitignore
  .gitignore
Due: none

Add envs to workflow
  .github/workflows/submit.yml
Due: none

Export system variable
  .github/workflows/submit.yml
Due: none

Try with cross-env
  .github/workflows/submit.yml
  package.json
  pnpm-lock.yaml
Due: none

Remove csfloat fade
  .github/workflows/submit.yml
  src/contents/csfloat_script.ts
Due: lint, format

Path conditions:
  typecheck: any of: ./src/**/*.{ts,tsx}
  lint: any of: src/**/*.{ts,tsx,js,jsx}
  format: any of: src/**/*.{ts,tsx,js,jsx,css}
